<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Will be replaced with Azure Portal Application Settings -->
		<add name="MainDatabase" connectionString="Data Source=sql.development.local;Initial Catalog=CloudDev;User Id=development;Password=development;Application Name=CloudDevWebJob"/>
	</connectionStrings>
	<appSettings>
		<!-- Will be replaced with Azure Portal Application Settings -->
		<add key="SmtpHost" value="mail.development.local" />
		<add key="SmtpUsername" value="" />
		<add key="SmtpPassword" value="" />
		<add key="SmtpFrom" value="haken@devmail.havit.cz" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>